.content{
    outline: 1px solid rgb(0, 0, 0);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;    
    transition: all 0.3s ease;
}
.content-heading{
    color: black;
    text-decoration: underline;
}
.content-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 320px;
}
.topic-container {
    transition: opacity 0.5s ease-in-out ;

  }


@media screen and (max-width:725px) {
    .content{
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

}
@media screen and (max-width:870px) {

    .content-container{
        gap: 30px   ;
    }
}
