.intro{
    margin: 10px 0px 30px 0px;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.intro-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.intro-button{
    background-color: var(--accent);
    padding: 8px;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: medium;

}
.intro-button:hover{
    background-color: var(--primary);
  }
.intro-image{
    width: 400px;
}
.intro-text{
    padding: 0 10px;
    font-size: 40px;
}
.intro-subtext{
    color: var(--accent);
    display: inline;

}
.intro-font-effect{
    display: inline;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text);
    color: transparent;

}